.box1{
    background-color: aquamarine;
    width: 200px;
    margin-right: 5%;
    height: 800px;
}
.box2{
    background-color: aqua;
    width: 200px;
    margin-right: 5%;
    height: 800px;
}
.box3{
    background-color: orange;
    width: 200px;
    margin-right: 5%;
    height: 800px;
}
.box4{
    background-color: blueviolet;
    width: 200px;
    margin-right: 5%;
    height: 800px;
}
.body{
    display: flex;
    justify-content: center;
}
div{
    display: inline-block;
}